<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1" metadata-complete="false">

	<display-name>music_server_war</display-name>
	<context-param>
		<description>Picture File Path on Server</description>
		<param-name>pictureFilePath</param-name>
		<param-value>/home/cherry/音乐/upload/picture</param-value>
	</context-param>
	<context-param>
		<description>Music File Path on Server</description>
		<param-name>musicFilePath</param-name>
		<param-value>/home/cherry/音乐/upload/music</param-value>
	</context-param>
</web-app>
